<div class="header">
  <div class="container display-flex justify-content-space-between align-items-center">
    <h1 class="header__title">Appointment Application</h1>

    <div class="display-flex">
      <button
        class="header__btn"
        mat-raised-button
        color="primary"
        routerLink="/appointment"
      >
        Create Appointment
      </button>

      <button
        class="header__btn"
        mat-raised-button
        color="accent"
        routerLink="/"
      >
        Appointments
      </button>
    </div>
  </div>
</div>

<div class="container container--md">
  <router-outlet></router-outlet>
</div>
